body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url("http://i.imgur.com/qqHfLDA.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.charContainer {
  height: 800px;
  width: 800px;
  margin: auto;
}

.info {
  color: white;
}



  