body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url("https://wallpapertag.com/wallpaper/full/1/8/2/434362-south-park-backgrounds-2560x1600-pictures.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:     cover; 
}

.charContainer {
  height: 800px;
  width: 800px;
  margin: auto;
}

.info {
  color: white;
}



  
