body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url("cartman.png");
  background-repeat: repeat;
  background-position: center center;
  background-size:     cover; 
}

.charContainer {
  height: 800px;
  width: 800px;
  margin: auto;
}

.info {
  color: white;
}



  
